body, h1, h2, h3, h4, h5, h6, div, span, p {
	font-family: Courier, monospace, Helvetica, Roboto;
}

label {
	min-width: 150px;
	text-align: right;
}

a {
	cursor: pointer;
}

td {
	font-size: 13px;
	word-wrap: break-word;
}

/* navbar styles */
.navbar {
	padding: 1rem 0;
}

.navbar-nav {
	display: block;
}

.navbar-nav li {
	display: inline-block;
}

/* main styles */
.search-form {
	padding: 50px 0;
	background-color: #d5d5da;
}

.sub-menu {
	margin-top: 2%;
}

.features {
	width: 100%;
}

.table-features [class^="col-"] {
    flex-shrink: 1;
}

.feature-info {
	margin-top: 30px;
}

.feature-title {
	display: block;
	font-weight: bold;
	text-align: center;
	margin-bottom: 30px;
}

.feature-detail p, .feature-detail span {
	font-size: 13px;
}

.val {
	font-weight: bold;
}

.invoices th, .invoices td {
	font-size: 13px;
}

.add-feature label {
	text-align: left;
}

.show-error{  
	background-color: red;  
	color: white;  
	font-size: 13px;  
	padding: 5px 5px;  
	border-radius: 5px;  
	margin-top: 7px;
}

/* footer styles */
.footer {
	bottom: 0;
	text-align: center;
	position: relative;
}