<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %} - IWS Feature Requests</title>

  <meta name="description" content="A Feature Requests app">
  <meta name="author" content="Wadinga Leonard Ngonga">

  <!-- Bootstrap core CSS -->
  <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>
  <div class="container">
    <nav role="navigation" class="navbar navbar-light bg-light">
      <a href="" class="navbar-brand" href="#">IWS Feature Requests</a>
      <ul class="nav navbar-nav navbar-right">
        <li role="presentation"><a href="/">Home</a></li>
        <li role="modal"><a href="#" data-toggle="modal" data-target="#addFeatureModal">Add Feature</a></li>
        <li role="presentation"><a href="https://github.com/wadleo/feature-requests" target="_blank">About</a></li>
      </ul>
    </nav>

    {% block body %}

    {% endblock %}
  </div>

  <footer class="footer">
    <p>© 2019 IWS Feature Request App</p>
  </footer>

  <script src="{{url_for('static', filename='jquery-3.1.0.min.js')}}" type = "text/javascript"></script>
  <script src="{{url_for('static', filename='bootstrap.min.js')}}" type = "text/javascript"></script>
  <script src="{{url_for('static', filename='knockout-min.js')}}" type = "text/javascript"></script>
  <script src="{{url_for('static', filename='knockout.validation.min.js')}}" type = "text/javascript"></script>
  <script src="{{url_for('static', filename='index.js')}}" type = "text/javascript"></script>

</body>
</html>