{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block body %}

<main role="main" class="container" id="featureList">
  <div class="row">
    <div class="col-12">

      <!-- Tables of Features -->
      <div class="features" data-bind="ifnot: feature">
        <h4 class="feature-title">All Features</h4>
        <table class="table table-hover table-features">
          <thead>
            <tr class="d-flex">
              <th class="col-1">#</th>
              <th class="col-1">Title</th>
              <th class="col-3">Description</th>
              <th class="col-2">Client</th>
              <th class="col-1">Priority</th>
              <th class="col-2">Target Date</th>
              <th class="col-1">Product Area</th>
              <th class="col-3">Actions</th>
            </tr>
          </thead>
          <tbody data-bind="foreach: features">
            <tr class="d-flex">
              <td class="col-1" data-bind="text: id"></td>
              <td class="col-1" data-bind="text: title"></td>
              <td class="col-3" data-bind="trimText: description"></td>
              <td class="col-2" data-bind="text: client"></td>
              <td class="col-1" data-bind="text: client_priority"></td>
              <td class="col-2" data-bind="text: target_date"></td>
              <td class="col-1" data-bind="text: product_area"></td>
              <td class="col-3">
                <a href="#" class="btn btn-sm btn-primary" data-bind="click: $root.showFeature">View</a>
                <a href="#" class="btn btn-sm btn-warning" data-bind="click: $root.editFeature">Edit</a>
                <a href="#" class="btn btn-sm btn-danger" data-bind="click: $root.deleteFeature">Delete</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Single Feature Display -->
      <div class="d-flex flex-column" data-bind="if: feature">

        <div class="feature-info" data-bind="with: feature">
          <h4 class="feature-title" data-bind="text: title"></h4>

          <div class="d-flex flex-wrap feature-detail">
            <p class="col-lg-4 col-md-5">
              <label class="label">Description</label>: <span class="val" data-bind="text: description"></span>
            </p>

            <p class="col-lg-4 col-md-5">
              <label class="label">Client</label>: <span class="val" data-bind="text: client"></span>
            </p>

            <p class="col-lg-4 col-md-5">
              <label class="label">Priority</label>: <span class="val" data-bind="text: client_priority"></span>
            </p>

            <p class="col-lg-4 col-md-5">
              <label class="label">Target Date</label>: <span class="val" data-bind="text: target_date"></span>
            </p>

            <p class="col-lg-4 col-md-5">
              <label class="label">Product Area</label>: <span class="val" data-bind="text: product_area"></span>
            </p>
          </div>

          <div class="sub-menu text-center">
            <a href=""  data-bind="click: $root.editFeature">Edit</a>
            <span data-bind="if: status != 'Cancelled'">
              <a href="" class="text-danger" data-bind="click: $root.deleteFeature">Delete</a>
            </span>
          </div>
        </div>
        <br>
      </div>

    </div>
  </div>
</main>

<!-- Add Feature Modal -->
<div class="add-policy modal" id="addFeatureModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Feature Form</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form class="d-flex flex-column align-items-center" data-bind="submit: saveAEForm">
          <div class="d-flex flex-wrap justify-content-start">
            <div class="form-group col-md-4">
              <label for="title">Feature Title:</label>
              <input type="text" class="form-control" id="title" name="title" data-bind="value: title">
            </div>

            <div class="form-group col-md-4">
              <label for="description">Description:</label>
              <textarea name="description" data-bind="value: description, text: description"></textarea>
            </div>

            <div class="form-group col-md-4">
              <label for="client">Client:</label>
              <select name="client" id="client" class="form-control" data-bind="options: clients, optionsText: 'name', optionsValue: 'name', value: client, optionsCaption: 'Choose client'"></select>
            </div>

            <div class="form-group col-md-4">
              <label for="client_priority">Priority:</label>
              <input name="client_priority" type="text" class="form-control" id="client_priority" data-bind="value: client_priority">
            </div>

            <div class="form-group col-md-4">
              <label for="target_date">Target Date:</label>
              <input name="target_date" type="date" class="form-control" id="target_date" data-bind="value: target_date">
            </div>

            <div class="form-group col-md-4">
              <label for="product_area">Product Area:</label>
              <select name="product_area" id="product_area" class="form-control" data-bind="options: product_areas, optionsText: 'name', optionsValue: 'id', value: product_area, optionsCaption: 'Choose product area'"></select>
            </div>

            <div class="form-group col-md-4">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

{% endblock %}